.loan-list-layout {
	width: 320px; 
}

.loan-list-item-name  {
	padding: 8px;
}

.loan-list-filter {
    width: 150px;
}

.loan-list-item {
    padding: 2px;    
    border-top: 1px white solid;
    border-bottom: 1px lightgray solid;
}

.loan-list-add {
    float: right;
}
