/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	margin: 0px;
	border-radius: 4px;
	background-color: silver;
}

.loan-toolbar {
    height: 56px;
}

.loan-details-layout, 
.loan-list-layout, 
.contact-list-layout {
	background-color: #eeeeee; 
    border-left: 1px solid #aaaaaa;
}

